.photo {
	width: 60px;
	height: 60px;
}
.users {
	padding: 20px;
}
.user {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.text {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.text div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.butGet {
	margin: 0 auto;
	display: block;
}
.navPages {
	display: flex;
	justify-content: center;
	list-style: none;
	padding-inline-start: 0;
	column-gap: 10px;
}
li {
	text-align: center;
	font-size: 2vw;
	font-weight: bold;
	color: #fff;
}
li:hover {
	cursor: pointer;
}
.selectedPage {
	color: aqua;
}
