.nav {
	grid-area: n;
	background-color: #4f5a6e;
	grid-row: l2/l3;
	height: 100%;
	padding: 10px;
}
.item {
	padding: 10px 10px;
	border-bottom: 1px solid #485265;
}
.item a {
	color: white;
	text-decoration: none;
	text-shadow: 1px 1px 544545;
}

a.active {
	color: gold;
}

.item a:hover {
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
	color: rgb(163, 153, 6);
}
