.dialogs {
	color: khaki;
	display: grid;
	grid-template-columns: 2fr 10fr;
	padding: 20px;
	grid-gap: 10px;
}

.dialogsItems {
	text-align: center;
}

.dialog {
	padding: 10px;
	border-bottom: 1px solid #ffebeb;
	cursor: pointer;
}
.dialog a {
	text-decoration: none;
}
.active {
	color: gold;
	border-bottom: 1px solid #271010;
	box-shadow: inset 0px 1px 5px 2px #592c7a;
}
.dialog:hover {
	box-shadow: 0px 0px 4px 2px #c08ae8;
}

.messages {
	padding: 10px;
	border-bottom: 1px solid #271010;
	box-shadow: inset 0px 1px 5px 2px #592c7a;
}

.message {
}
